.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;

  .app__navbar-logo {
    display: flex;
    align-items: center;
    color: #6b7688;
    font-size: 1.5rem;

    img {
      width: 70px;

      @media screen and (min-width: 2000px) {
        width: 150px;
      }
    }
  }

  .app__navbar-links-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  .app__navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin: 0 1rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;

      div {
        width: 5px;
        height: 5px;
        background: transparent;
        border-radius: 50%;
        margin-bottom: 5px;
      }

      a {
        color: var(--gray-color);
        text-decoration: none;
        text-transform: uppercase;  /* Uppercase by default */
        font-weight: 500;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: var(--secondary-color);
        }

        &.resume-link {
          text-transform: none;  /* No text-transform for resume link */
        }
      }

      &:hover div {
        background: var(--secondary-color);
      }
    }
  }

  .app__navbar-menu {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    border: none;
    outline: none;

    svg {
      width: 70%;
      height: 70%;
      color: var(--white-color);
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    padding: 1rem;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: var(--gray-color);

      li {
        width: 95%;
        margin: 1rem;

        &:last-of-type {
          border-bottom: 1px solid var(--gray-color);
          padding-bottom: 2rem;
          margin-bottom: 2rem;
        }

        a {
          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color);
          }

          &.resume-link {
            text-transform: none; /* Ensure the resume link is not uppercase */
          }
        }
      }

      .app__flex {
        flex-direction: column;
        align-self: center;

        h2 {
          margin-bottom: 20px;
        }

        .socials {
          display: flex;
          gap: 15px;

          svg {
            color: var(--gray-color);
            width: 25px;
            transition: color 0.3s ease-in-out;

            &:hover {
              color: var(--secondary-color);
            }
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }
}
